<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFIqK71j96Sg1xBYFM3_NgPTf2W4IlEx0</string>
	<key>GCM_SENDER_ID</key>
	<string>972936832359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>JoshPHS.FirebaseProject</string>
	<key>PROJECT_ID</key>
	<string>project-1-6222c</string>
	<key>STORAGE_BUCKET</key>
	<string>project-1-6222c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972936832359:ios:4016c2d109c00b13c4bbc2</string>
</dict>
</plist>